*{
    background-color:rgb(150, 77, 0)
}
h1{
    text-align: center;
    font-size: 50px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
h2{
    font-size: 35px;
}
p,
li{
    font-size: 20px;
}